doctype html
html
    head
        link(rel="stylesheet" href="/static/main.css" type="text/css")
        script document.documentElement.className = 'js';
        title Test a palindrome
    body
        section
            h1 Check a palindrome
            form(method='post' action='/api/v1/add-palindrome' id='palindrome-form')
                fieldset
                    label(for='query' class='label-overlay') Palindrome
                    input(type='text' id='query' name='query' value='')
                    button(type='submit' class='button-overlay') Submit
            div(id='feedback' aria-live='polite')

        section
            h1 Latest palindromes
            div(id='latest' aria-live='polite')
                if palindromes
                    ol
                        each palindrome in palindromes
                            li=palindrome
                else
                    p No palindromes have been submitted in the last #{minutes} minutes

        script(src="/static/main.js")


