
html, body {
    background: #eee;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    line-height: 1.5;
    font-family: sans-serif;
}

body > section {
    padding: 1em;
    background: #fff;
    margin: 2em 2em 0;
    box-shadow: 0 1em 2em rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 0 0 1em;
}

form, fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

fieldset {
    position: relative;
}

label {
    font-size: 1em;
    font-weight: bold;
}

.js .label-overlay {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(0.5em) translateX(0.5em);
    transition: transform 0.3s, font-size 0.3s;
}

.js .label-overlay.active {
    font-size: 0.7em;
    transform: translateY(-1.5em) translateX(0);
}

button {
    padding: 1em 3em;
    background: #039;
    color: #fff;
    border: 1px solid #ddd;
    border-left: 0;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover,
button:focus {
    background-color: #36c;
}

.js .button-overlay {
    position: absolute;
    right: 0;
    top: 0;
}

input[type="text"] {
    padding: 1em;
    border: 1px solid #ddd;
    width: 100%;
    box-sizing: border-box;
}

input[type="text"]:focus {
    outline: 0;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.1);
}

.error {
    color: #c00;
}
